In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas

In [4]:
print(pandas.__version__)

1.3.5

In [6]:
import pandas as pd

In [8]:
import pandas as pd
data = [['Shankara',6],['Alvarendra',3],['Rakasulung',20]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

         Name  Age
0    Shankara    6
1  Alvarendra    3
2  Rakasulung   20

In [9]:
import pandas as pd
data = {
    "calories" : [420, 380, 390],
    "duration" : [50,40,45]
}
#Load data into a DataFrame Object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
data = pd.read_csv("/content/drive/MyDrive/Pembelajaran Mesin/Praktikum 1/data.csv")
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [12]:
dataNew = pd.read_csv("/content/drive/MyDrive/Pembelajaran Mesin/Praktikum 1/data.csv",
skiprows=1, names=['Durasi', 'Nadi', 'MaxNadi', 'Kalori'])
dataNew

     Durasi  Nadi  MaxNadi  Kalori
0        60   110      130   409.1
1        60   117      145   479.0
2        60   103      135   340.0
3        45   109      175   282.4
4        45   117      148   406.0
..      ...   ...      ...     ...
164      60   105      140   290.8
165      60   110      145   300.0
166      60   115      145   310.2
167      75   120      150   320.4
168      75   125      150   330.4

[169 rows x 4 columns]

In [13]:
peek = data.head(20)
print(peek)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0

In [14]:
shape = data.shape
print(shape)

(169, 4)

In [15]:
types = data.dtypes
print(types)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [16]:
description = data.describe()
print(description)

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [17]:
correlation = data.corr(method='pearson')
print(correlation)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000