In [5]:
#Importing necessary libraries
import numpy as np
import pandas as pd

#Handling Null Values

In [6]:
#Creating a dummy dataframe
data = [['Steve',25,55],['Linus',28,60],['Elon',26]]
df = pd.DataFrame(data=data,columns=['Name','Age','Weight'])

In [7]:
#Displaying the dataframe
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26     NaN

In [8]:
#Checking null values
df.isnull()

    Name    Age  Weight
0  False  False   False
1  False  False   False
2  False  False    True

In [9]:
#Displaying the count of null values per column
df.isnull().sum()

Name      0
Age       0
Weight    1
dtype: int64

In [10]:
#Dropping the row having null value
#NOTE, The changes won't be reflected in the original dataframe until we set inplace=True
df.dropna()

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0

In [11]:
#Our original dataframe still has the 3rd row intact as we did not set inplace=True in the above operation
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26     NaN

#Imputation

In [12]:
#Using the Simplepluter class for Imputation
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df[['Weight']])
df['Weight'] = imputer.transform(df[['Weight']])

In [13]:
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26    57.5

In [14]:
#Using the fillna() method
df.fillna(df.mean())

<ipython-input-14-7aac3a44ea7d>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26    57.5

#Standardization

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
#We have two numerical columns : Age and Weight, hence we will standardize them so that they are on the same scale
std = StandardScaler()
x = std.fit_transform(df[['Age','Weight']])
x

array([[-1.06904497, -1.22474487],
       [ 1.33630621,  1.22474487],
       [-0.26726124,  0.        ]])

#Handling Categorical Variables

#Ordinal Categorical Variables

In [17]:
#Creating a dummy dataframe
df_cat = pd.DataFrame(data =
                      [['green','M',10.1,'class1'],
                       ['blue','L',20.1,'class2'],
                       ['white','M',30.1,'class3']])

df_cat.columns = ['color','size','price','classlabel']
df_cat

   color size  price classlabel
0  green    M   10.1     class1
1   blue    L   20.1     class2
2  white    M   30.1     class3

In [18]:
#Using the map function
size_mapping = {'M':1,'L':2}
df_cat['size']=df_cat['size'].map(size_mapping)

In [19]:
#Using Label Encoder
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
df_cat['classlabel']=class_le.fit_transform(df_cat['classlabel'].values)

In [20]:
#Nominal Categorical Variables
df_cat = pd.get_dummies(df_cat[['color','size','price']])
df_cat

   size  price  color_blue  color_green  color_white
0     1   10.1           0            1            0
1     2   20.1           1            0            0
2     1   30.1           0            0            1